<div id="global_header">
  <div class="contents">
    <div class="logo">
      <span id="logo_holder" style="margin: 0; width: auto; height: auto">
        <img
          src="https://store.cloudflare.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016"
          width="176"
          height="44"
        />
      </span>
    </div>

    <div class="features_container">
      <div
        class="feature"
        style="
          color: #1a9fff;
          text-decoration: underline 2px;
          text-underline-offset: 5px;
        "
      >
        CỬA HÀNG
      </div>
      <div class="feature">CỘNG ĐỒNG</div>
      <div class="feature">THÔNG TIN</div>
      <div class="feature">HỖ TRỢ</div>
    </div>

    <div id="global_action">
      <div class="header_install_content">Cài đặt Steam</div>
      <p class="global_action_click">đăng nhập</p>
      <p class="global_action_link">|</p>
      <p class="global_action_click">ngôn ngữ</p>
    </div>
  </div>
</div>

<div id="page_content">
  <div class="login_page_container">
    <div class="login_container">
      <div class="newlogin_dialog">
        <div
          style="
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin: 8px 16px;
          "
        >
          <div class="newdialog_content">Đăng nhập</div>
        </div>

        <div class="newlogindialog">
          <div class="logindialog_sidebyside">
            <div class="loginForm">
              <div class="username_zone">
                <div class="titleUser">ĐĂNG NHẬP BẰNG TÊN TÀI KHOẢN</div>
                <input class="inputslot_user" />
              </div>
              <div class="password_zone">
                <div class="titlePassword">MẬT KHẨU</div>
                <input class="inputslot_password" />
              </div>
              <div class="focuscheck">
                <div class="checkBoxField">
                  <span class="checkBox"></span>
                  <div class="checkField_label">Ghi nhớ tôi</div>
                </div>
              </div>
              <div class="buttonContainer">
                <div class="submittedbutton">Đăng nhập</div>
              </div>
              <p class="text_forgot">Giúp với, tôi không thể đăng nhập</p>
            </div>
            <div class="QR">
              <div class="QRcontainer" style="display: block">
                <div class="QR_fieldLable">Hoặc đăng nhập bằng QR</div>
                <div class="QRholder"></div>
              </div>
              <p class="QR_logindialog">
                Đăng nhập bằng mã QR với ứng dụng Steam di động
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="login-bottom-row">
    <div class="item">
      <div class="headline">Mới dùng Steam?</div>
      <div class="create">Tạo tài khoản</div>
    </div>

    <div class="contents-bottom">
      <div>
        Miễn phí và dễ dàng. Khám phá hàng ngàn tựa game để chơi cùng hàng triệu
        người bạn mới.<span id="know-more">Tìm hiểu thêm về Steam.</span>
      </div>
    </div>
  </div>

  <span class="certificate">
    <div class="certificate-contents">
      <div id="text-cer">
        This is a copy of Steam's login page done by Grisk.
      </div>
      <img src="../assets/LOGO 1.png" alt="" style="width: 100px;"/>
      <p style="margin: 0">
        © 2023 GrisCie - All intellectual property rights reserved
      </p>
    </div>
  </span>
</div>
