#page_content {
  color: rgb(233, 233, 233);
  width: 100%;
  background-attachment: fixed;
  background-clip: border-box;
  background-color: rgb(24, 26, 33);
  background-image: url(https://store.akamai.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg);
  background-position-x: center;
  background-position-y: center;
  background-size: auto;
  height: fit-content;
}

.login_page_container {
  color: rgb(233, 233, 233);
  display: flex;
  font-family: "Motiva Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  height: 650px;
}

.login_container {
  color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Motiva Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
}

.newlogin_dialog {
  color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Motiva Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  gap: 24px;
}

.newdialog_content {
  color: rgb(233, 233, 233);
  font-family: "Motiva Sans", sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.newlogindialog {
  background-color: rgb(24, 26, 33);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: rgb(233, 233, 233);
  font-family: "Motiva Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 290px;
  width: 636px;
  padding: 24px 32px 24px 32px;
}

.logindialog_sidebyside {
  color: rgb(233, 233, 233);
  display: flex;
  font-family: "Motiva Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding-top: 10px;
  width: 650px;
  height: 310px;
  gap: 8px;
}

.loginForm {
  display: grid;
}

.username_zone {
  display: grid;
  font-family: "Motiva Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 60px;
}

.titleUser {
  color: rgb(23, 153, 255);
  font-family: "Motiva Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  width: 400px;
  height: fit-content;
}

.inputslot_user {
  border-radius: 2px;
  color: #fff;
  padding: 10px;
  background-color: #32353c;
  outline: none;
  font-size: 15px;
  border: 1px solid #32353c;
  height: 18px;

  &:hover {
    background-color: lighten($color: rgb(50, 53, 60), $amount: 3);
    border-color: lighten($color: rgb(50, 53, 60), $amount: 3);
  }
}

.password_zone {
  display: grid;
  font-family: "Motiva Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 60px;
}

.titlePassword {
  color: #afafaf;
  font-family: "Motiva Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.3px;
  width: 400px;
  height: fit-content;
}

.inputslot_password {
  border-radius: 2px;
  color: #fff;
  padding: 10px;
  background-color: #32353c;
  outline: none;
  font-size: 15px;
  border: 1px solid #32353c;
  height: 18px;

  &:hover {
    background-color: lighten($color: rgb(50, 53, 60), $amount: 3);
    border-color: lighten($color: rgb(50, 53, 60), $amount: 3);
  }
}

.submittedbutton {
  position: relative;
  background: linear-gradient(90deg, #06bfff 0%, #2d73ff 100%);
  border-radius: 2px;
  border: none;
  outline: none;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  width: 250px;

  &:hover {
    background: linear-gradient(90deg, #06bfff 25%, #2d73ff 100%);
  }
}

.QR {
  color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 230px;
  margin-left: 20px;
  border-radius: 2px;
  align-items: center;
}

.focuscheck {
  display: block;
  height: 20px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #afafaf;
  font-family: "Motiva Sans", sans-serif;

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #32353c;
    border-radius: 2px;
  }
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: lighten($color: #32353c, $amount: 5);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #32353c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 13px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 0 2px 2px 2px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
}

.text_forgot {
  text-align: center;
  color: #afafaf;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: lighten($color: #afafaf, $amount: 10);
  }
}

.QR_fieldLable {
  color: #1999ff;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.QRholder {
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 8px;
  width: 212px;
  height: 212px;
  background-color: white;
  background-image: url(../assets/qrcode_84563247_75c5a20e87b446f583aa3b43561e8b67.png);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.QR_logindialog {
  text-align: center;
  font-size: 12px;
  color: #afafaf;
}

