<app-navbar></app-navbar>

<div id="page_content">
  <div class="login_page_container">
    <div class="login_container">
      <div class="newlogin_dialog">
        <div
          style="
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin: 8px 16px;
          "
        >
          <div class="newdialog_content">Đăng nhập</div>
        </div>

        <div class="newlogindialog">
          <div class="logindialog_sidebyside">
            <div class="loginForm">
              <div class="username_zone">
                <div class="titleUser">ĐĂNG NHẬP BẰNG TÊN TÀI KHOẢN</div>
                <input class="inputslot_user" />
              </div>
              <div class="password_zone">
                <div class="titlePassword">MẬT KHẨU</div>
                <input class="inputslot_password" type="password"/>
              </div>
              <div class="focuscheck">
                <label class="container"
                  >Ghi nhớ tôi
                  <input type="checkbox" checked="checked" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="buttonContainer">
                <div class="submittedbutton">Đăng nhập</div>
              </div>
              <p class="text_forgot">Giúp với, tôi không thể đăng nhập</p>
            </div>
            <div class="QR">
              <div class="QRcontainer" style="display: block">
                <div class="QR_fieldLable">Hoặc đăng nhập bằng QR</div>
                <div class="QRholder"></div>
              </div>
              <p class="QR_logindialog">
                Đăng nhập bằng mã QR với ứng dụng Steam di động
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-bottom-row-navbar></app-bottom-row-navbar>
</div>
