<div class="login-bottom-row">
  <div class="item">
    <div class="headline">Mới dùng Steam?</div>
    <div class="create">Tạo tài khoản</div>
  </div>

  <div class="contents-bottom">
    <div>
      Miễn phí và dễ dàng. Khám phá hàng ngàn tựa game để chơi cùng hàng triệu
      người bạn mới.<span id="know-more">Tìm hiểu thêm về Steam.</span>
    </div>
  </div>
</div>

<span class="certificate">
  <div class="certificate-contents">
    <div style="color: #b8b6b4">
      This is a copy of Steam's login page done by Grisk.
    </div>
    <img src="../assets/LOGO 1.png" alt="" style="width: 100px" />
    <p style="margin: 0; color: #b8b6b4">
      © 2023 GrisCie - All intellectual property rights reserved
    </p>
  </div>
</span>
