.login-bottom-row {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 180px;
  justify-content: center;
  align-items: center;
  background-color: #181a21;
  gap: 60px;
}

.item { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
  height: fit-content;
  gap: 5px;

  .headline {
    font-size: 20px;
    font-weight: 700;
    color: white;
    font-family: "Motiva Sans", sans-serif;
  }

  .create {
    margin: 10px 0 10px 0;
    text-align: center;
    font-family: "Motiva Sans", sans-serif;
    padding: 0 20px;
    font-size: 15px;
    line-height: 30px;
    cursor: pointer;
    border-radius: 2px;
    background: linear-gradient(to right, #47bfff 5%, #1a44c2 60%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-position: 25%;
    background-size: 330% 100%;
    color: white;
    text-decoration: none;

    &:hover {
      background: linear-gradient(to right, #47bfff 5%, #1a44c2 100%);
    }


  }
}

.contents-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
  height: fit-content;
  font-family: "Motiva Sans", sans-serif;
  font-size: 15px;
  color: #b8b6b4;
  line-height: 20px;
}

#know-more {
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
}

.certificate {
  display: flex;
  width: 100%;
  height: 160px;
  background-color: #181a21;
  justify-content: center;
}

.certificate-contents {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  align-items: center;
  font-size: 16px;
  font-family: "Motiva Sans", sans-serif;
  border-top: 1px solid;
}
